<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript Bar Chart</title>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
    <style>
    .anychart-credits-text{
      display: none !important;
    }</style>
  </head>
  <body>
    <div id="container" style="width: 50%; height: 600px"></div>
    <script>
      anychart.onDocumentReady(function() {

        // set the data
        var data = {
            header: ["Name", "Death toll"],
            rows: [
              ["Toxic", {{toxic}}],
              ["Hate", {{hate}}],
              ["'Threating", {{threat}}],
              ["Neutral", {{neutral}}]

        ]};

        // create the chart
        var chart = anychart.bar();

        // add the data
        chart.data(data);

        // set the chart title
        chart.title("Sentiment Break Down");

        // draw
        chart.container("container");
        chart.draw();
      });
    </script>
  </body>
</html>